<div class="blank-layout-container justify-content-center align-items-center bg-light-primary">
  <div
    class="position-relative row w-100 h-100 bg-gredient justify-content-center"
  >
    <div class="col-lg-6 d-flex align-items-center">
      <mat-card class="cardWithShadow  w-100">
        <mat-card-content class="p-16">
          <div class="text-center">
              <a [routerLink]="['/dashboard']">
                <p class="workshift">WORK SHIFT APP</p>
              </a>
          </div>


          <form class="m-t-30"  #myForm="ngForm" (ngSubmit)="onSubmit(myForm)" >

            <div class="row">
              <div class="col-md-6">
                <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
                >First Name</mat-label
              >
              <mat-form-field appearance="outline" class="w-100"  color="primary">
                <input matInput [(ngModel)]="first_name" name="first_name" type="text" />
              </mat-form-field>
              
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
                >Phone Number</mat-label
              >
              <mat-form-field appearance="outline" class="w-100"  color="primary">
                <input matInput [(ngModel)]="phone_number" type="number" name="phone_number" />
              </mat-form-field>
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block" 
              >Email Adddress</mat-label
            >
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="email" [(ngModel)]="email" name="email" type="email"  />
            </mat-form-field>

              <mat-form-field class="w-100"  >
                <mat-label>Gender</mat-label>
                <mat-select [(ngModel)]="gender" name="gender"  >
                  <mat-option value="Male">Male</mat-option>
                  <mat-option value="Female">Female</mat-option>
                </mat-select>
              </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
                >last Name</mat-label
              >
              <mat-form-field appearance="outline" class="w-100"  color="primary">
                <input matInput [(ngModel)]="last_name" name="last_name" type="text" />
              </mat-form-field>
            
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
              >Home Address</mat-label
            >
            <mat-form-field appearance="outline" class="w-100"  color="primary">
              <input matInput [(ngModel)]="home_address"  name="home_address" type="text" />
            </mat-form-field>
            <mat-form-field class="w-100"  >
              <input matInput [matDatepicker]="picker" [(ngModel)]="date_birth" name="date_birth">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field  class="w-100" >
              <mat-label>Marital Status</mat-label>
              <mat-select [(ngModel)]="marital_status" name="marital_status" >
                <mat-option value="Single">Single</mat-option>
                <mat-option value="Married">Married</mat-option>
              </mat-select>
            </mat-form-field>
            <!-- password -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
              >Password</mat-label
            >
            <mat-form-field appearance="outline" class="w-100" color="primary">
              
              <input matInput type="password" [(ngModel)]="password" name="password" />
            </mat-form-field>
            
              </div>
            </div>
            
              
            
          
            
              
            
            <br>
            <button  mat-flat-button color="primary" class="w-100" >
              Sign Up
            </button>
          
          
            
            <!-- input -->
          </form>
          
          <span class="d-block f-w-500 text-center m-t-24"
            >Already have an Account?

            <a
              [routerLink]="['/login/user']"
              class="text-decoration-none text-primary f-w-500 f-s-14"
            >
              Sign In</a
            >
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
