<div class="d-flex justify-content-between align-items-baseline flex-wrap grid-margin mt-4">
    <div>
      <p>No. of records <strong>{{ pagination.total }}</strong></p>
    </div>

    <div class="row g-3 align-items-center">
        <div class="col-auto">
          <label for="inputPassword6" class="col-form-label">Rows per page</label>
        </div>
        <div class="col-auto">
            <select class="form-control" [formControl]="perPage">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
        </div>
    </div>

    <div class="d-flex align-items-center flex-wrap text-nowrap">
        <div class="btn-group">
            <button type="button" class="btn btn-secondary text-primary" [ngClass]="{'btn-light': !pagination.hasPrevious}" [disabled]="!pagination.hasPrevious" (click)="paginate('previous', pagination.previous || '')">Previous</button>
            <button type="button" class="btn btn-secondary text-primary" [ngClass]="{'btn-light': !pagination.hasNext}"  [disabled]="!pagination.hasNext" (click)="paginate('next', pagination.next || '')">Next</button>
        </div>
    </div>
</div>